*{
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
    color: #0c6eba;
}

header{
    background-color: #77a0d4;
    border-bottom: 30px solid #ffc510;
    background-image: url(images\jac-logo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dropDownMenu .navBar ul{
    list-style: none;
}


.navBar ul li{ 
    font-size: 20px;
    float: left;
    padding: 20px;
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
}
.contactNav ul{
    list-style: none;
}

.contactNav ul li{
    font-size: 20px;
    float: right;
    padding: 20px;
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
    margin-right: 1%;
}


a{
    text-decoration: none;

}
.contactNav ul li:hover{
    background-color: black;
    color: aqua;
    border-radius: 2rem;
}

.navBar ul li:hover{
    background-color: black;
    color: aqua;
    border-radius: 2rem;
}

h1{
    text-align: center;
    padding: 1rem;
}

body{
    background-color: bisque;
    
}

.pageTextDisplay{
    display: flex;
    flex-flow: row;
    grid-gap: 2rem;    
    padding: 40px;
    border: 3px solid #ffc510;
    margin: 2%;
}

footer{
    background-color: #77a0d4;
    border-top: 30px solid #ffc510;
    background-image: url(images\footer-background.jpg);
    background-size: cover;
}

.footer-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: left;
}

.footerLinks{
    display: grid;
    font-size: 20px;
    padding: 20px;
    grid-gap: 5px;
    max-width: fit-content;
    justify-content: center;
}

#footerImg{
    max-height: 100px;
}

#artBtn{
    max-width: 150px;
    align-self: center;
}

#doBtn{
    max-width: 150px;
}

#cookBtn{
    max-width: 150px;
}

#recipe-list__name :hover{
    cursor: pointer;
}




