*{
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
    color: #0c6eba;
}

header{
    background-color: #77a0d4;
    border-bottom: 30px solid #ffc510;
    background-image: url(images\jac-logo-background.jpg);
    background-repeat: no-repeat;
}
.dropDownMenu{
    
}

.dropDownMenu .navBar ul{
    list-style: none;
}


.navBar ul li{ 
    font-size: 20px;
    float: left;
    padding: 20px;
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
}
.contactNav ul{
    list-style: none;
}

.contactNav ul li{
    font-size: 20px;
    float: right;
    padding: 20px;
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
    margin-right: 1%;
}


a{
    text-decoration: none;

}
a:hover{
    background-color: black;
    color: aqua;
    border-radius: 2rem;
}

h1{
    text-align: center;
    padding: 1rem;
}

body{
    background-color: bisque;
    
}

.pageTextDisplay{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;    
    padding: 40px;
    border: 3px solid #ffc510;
    margin: 2%;
}

footer{
    background-color: #77a0d4;
    border-top: 30px solid #ffc510;
}

.footerDiv{
    display: flexbox;
    flex-direction: column;
    padding: 10px;
    text-align: left;
}

.footerLinks{
    display: grid;
    font-size: 20px;
    padding: 20px;
    grid-gap: 5px;
    max-width: fit-content;
    justify-content: center;
}

#footerImg{
    max-height: 100px;
}




