*{
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
    color: darkred;
}

header{
    background-color: #908e84;
    border-bottom: 30px solid darkred;
}
.dropDownMenu{
    display: flex;
}

.dropDownMenu .navBar ul{
    list-style: none;
}

#headerImg{

}

.navBar ul li{ 
    font-size: 20px;
    float: left;
    padding: 20px;
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
}
.contactNav ul{
    list-style: none;
}

.contactNav ul li{
    font-size: 20px;
    float: right;
    padding: 20px;
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;

}


a{
    text-decoration: none;

}
a:hover{
    background-color: black;
    color: aqua;
    border-radius: 2rem;
}

h1{
    text-align: center;
    padding: 2rem;
    padding-top: 5%;
}

body{
    background-color: bisque;
}

.pageTextDisplay{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;    
    padding: 40px;
    border: 3px solid darkred;
}

footer{
    background-color: #908e84;
    border-top: 30px solid darkred;
}

